body {
  text-align: center;
  font-family: Arial, Helvetica, san-serif;
}

main {
  background-color: #48392A;
  overflow: hidden;
  height: 1000px;
}

h1 {
  text-align: center;
}



.front-grid {
  width: 310px;
  height: 310px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.front-grid li {
  width: 100px;
  height: 100px;
  float: left;
  margin: 0;
  padding: 0;
  border: 1px solid white;
  box-sizing: border-box;
  border-radius: 5px;
}

.nextLevelButton {
  display: none;
}

.movesCounter {
  display: none;
}

.timer {
  display: none;
}

.stopButton {

}

.forms {
  width: 700px;
}

.playerOneName {
  display: none;
}

.playerTwoName {
  display: none;
}

.instructionsBoard {
  display: none;
  width: 700px;
}

.selected.inner {
  background-color: violet;
}

.selectButton {
  display: none;
}

/*WELCOME SCREEN*/

.welcome-screen {
  height: 100%;
  width: 100%;
  background-color: black;
  color: #FBF2C0;
}

.welcome-screen-container{
  height: 100%;
  width: 60%;
  border: 1px solid white;
  margin: 0 auto;
}

.title {
  margin-top: 80px;
  font-family:  'Martel Sans', sans-serif;
  text-transform: uppercase;
}
 .front-buttons {
   width: 200px;
   list-style: none;
   /*border: 1px solid white;*/
   padding: 0;
   margin: 0 auto;
   margin-top: 20px;
 }

 .front-buttons li {
   /*border: 1px solid white;*/
   margin: 0 auto;
   padding: 0;
   margin-bottom: 15px;
 }

.front-buttons li button {
  font-size: 16px;
  font-family: 'Martel Sans', sans-serif;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  width: 180px;
  height: 30px;
  padding: 14px 40px;
  line-height: 40%;

  border-radius: 5px;
}

.instructions {
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
}

/* GAME SCREEN */

.game-screen {
  height: 100%;
  width: 60%;
  border: 1px solid white;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.left-side {
  height: 100%;
  width: 65%;
  border: 1px solid white;
  box-sizing: border-box;
}

.grid {
  /*width: 700px;*/
  /*width: 466px;*/
  width: 500px;
  height: 500px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  background-color: yellow;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 5px;
  margin-top: 50px;
}

.grid li {
  /*width: 100px;
  height: 100px;*/
  width: 95px;
  height: 95px;
  /*float: left;*/
  margin: 0;
  padding: 0;
  /*border: 1px solid black;*/
  box-sizing: border-box;
  border-radius: 5px;
}

.inner {
  border: 1px solid #48392A;
  background-color: #E7DCDB;
  color: #E7DCDB;
}

.on.inner {
  background-color: #FBF2C0;
  color: #FBF2C0;
}

.edge {
  background-color: #48392A;
  border: 1px solid white;
  color: #48392A;
  height: 2px;
  width: 2px;
  display: none;
}

/* RIGHT SIDE */
.right-side{
  height: 600px;
  width: 35%;
  background-color: blue:
  border: 1px solid white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  margin-top: 50px;

}

.information {
  border: 1px solid white;
  height: 30%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movesCounter {
  width: 80%;
  height: 40%;
  border: 1px solid white;
  background-color: yellow;
}

.timer {
  width: 80%;
  height: 40%;
  border: 1px solid white;
  background-color: blue;
}

.game-buttons {
  width: 180px;
  list-style: none;
  border: 1px solid white;
  padding: 0;
  margin: 0 auto;
  margin-top: 0;
}

.game-buttons li {
  /*border: 1px solid white;*/
  margin: 0 auto;
  padding: 0;
  margin-bottom: 15px;
}

.game-buttons li button {
 font-size: 16px;
 font-family: 'Martel Sans', sans-serif;
 font-weight: bold;
 text-align: center;
 text-transform: uppercase;
 width: 180px;
 height: 30px;
 padding: 14px 40px;
 line-height: 40%;
 border-radius: 5px;
}

.top{
  height: 600px;
  width: 100%;
  border: 1px solid white;
  display: flex;
  flex-wrap: wrap;
}

/* LOWER PART */
.bottom {
  height: 400px;
  width: 100%;
  border: 1px solid red;
  clear: both;
}

.playerOneName {
  border: 1px solid white;
  width: 100%;
}

.playerTwoName {
  border: 1px solid white;
}

#activate {
  display: inline-block;
}

#movesCounterActivated {
  display: inline-block;
}

#timerActivated {
  display: block;
}

#playerOneNameActivated {
  display: inline-block;
}

#playerTwoNameActivated {
  display: inline-block;
}

#submitButtonActivated {
  display: inline-block;
}

#welcomeScreenHidden {
  display: none;
}
