body {
  text-align: center;
  font-family: Arial, Helvetica, san-serif;
}

main {
  background-color: black;
  overflow: hidden;
  height: 1000px;
}

h1 {
  text-align: center;
}





.nextLevelButton {
  display: none;
  background-color: white;
  color: black;
}

.movesCounter {
  display: none;
}

.timer {
  display: none;
}

.stopButton {

}

.forms {
  width: 700px;
}

.playerOneName {
  display: none;
}

.playerTwoName {
  display: none;
}

.instructionsBoard {
  display: none;
  width: 700px;
}

.selected.inner {
  /*background-color: violet;*/
  background-color: white;
}

.selectButton {
  display: none;
}

/*WELCOME SCREEN*/

.welcome-screen {
  height: 100%;
  width: 100%;
  /*background-color: #535657;*/
  /*background-color: #B3B5B4;
  color: #D7F5FF;*/
  background-color: black;
}

.welcome-screen-container{
  height: 100%;
  width: 60%;
  border: 1px solid white;
  margin: 0 auto;
}

.title {
  margin-top: 20px;
  font-family:  'Oswald', 'Martel Sans', sans-serif;
  text-transform: uppercase;
  font-size: 100px;
  margin-bottom: 20px;
  color: white;
}

.front-grid {
  width: 310px;
  height: 310px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.front-grid li {
  width: 100px;
  height: 100px;
  float: left;
  margin: 0;
  padding: 0;
  border: 1px solid white;
  box-sizing: border-box;
  border-radius: 5px;
  /*animation: blackToWhite 3s infinite;*/
}

.outside {
  animation: blackToWhite 3s infinite;
}

.central {
  animation: whiteToBlack 3s infinite;
}

.corner {
  border: none;
}

.front-buttons {
   width: 200px;
   list-style: none;
   /*border: 1px solid white;*/
   padding: 0;
   margin: 0 auto;
   margin-top: 50px;
 }

 .front-buttons li {
   /*border: 1px solid white;*/
   margin: 0 auto;
   padding: 0;
   margin-bottom: 15px;
 }

.front-buttons li button {
  font-size: 16px;
  font-family: 'Martel Sans', sans-serif;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  width: 180px;
  height: 30px;
  padding: 14px 40px;
  line-height: 40%;
  /*background-color: #F484E9;
  color: #D7F5FF;*/
  background-color: black;
  color: white;
  border: 1px solid white;

  border-radius: 5px;
}

.instructions {
  font-family: 'Oswaldo', sans-serif;
  color: white;
  margin-top: 20px;
  width: 60%;
  margin: 0 auto;
  margin-top: 50px;
  font-size: 20px;
  line-height: 1.5;
}

/* GAME SCREEN */

.game-screen {
  height: 100%;
  /*width: 60%;*/
  max-width: 800px;
  min-width: 600px;
  border: 1px solid white;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  /*background-color: #B3B5B4;*/
  background-color: black;
}

.left-side {
  height: 100%;
  width: 65%;
  /*border: 1px solid white;*/
  box-sizing: border-box;
}

.grid {
  /*width: 700px;*/
  /*width: 466px;*/
  width: 500px;
  height: 500px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  /*background-color: #B3B5B4;*/
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 5px;
  margin-top: 50px;
}

.grid li {
  /*width: 100px;
  height: 100px;*/
  width: 95px;
  height: 95px;
  /*float: left;*/
  margin: 0;
  padding: 0;
  /*border: 1px solid black;*/
  box-sizing: border-box;
  border-radius: 5px;
}

.inner {
  border: 1px solid white;
  /*background-color: #D7F5FF;*/
  background-color: black;
  /*color: #D7F5FF;*/
}

.on.inner {
  /*background-color: #6D88FF;
  color: #6D88FF;*/
  background-color: white;
}

.edge {
  background-color: #48392A;
  border: 1px solid white;
  color: #48392A;
  height: 2px;
  width: 2px;
  display: none;
}

/* RIGHT SIDE */
.right-side{
  height: 100%;
  width: 35%;
  background-color: blue:
  /*border: 1px solid white;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  margin-top: 50px;

}

.information {
  /*border: 1px solid white;*/
  height: 40%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  font-family: 'Oswald', sans-serif;
}

.movesCounter {
  width: 60%;
  height: 40%;
  /*border: 1px solid white;*/
  /*background-color: #E3E4E3;*/
  border-radius: 3px;
  background-color: black;
  color: white;
  border: 1px solid white;
}

.timer {
  width: 60%;
  height: 40%;
  /*border: 1px solid white;*/
  /*background-color: #E3E4E3;*/
  border-radius: 3px;
  background-color: black;
  color: white;
  border: 1px solid white;
}

.game-buttons {
  width: 180px;
  list-style: none;
  /*border: 1px solid white;*/
  padding: 0;
  margin: 0 auto;
  margin-top: 0;
}

.game-buttons li {
  /*border: 1px solid white;*/
  margin: 0 auto;
  padding: 0;
  margin-bottom: 15px;
}

.game-buttons li button {
 font-size: 16px;
 font-family: 'Martel Sans', sans-serif;
 font-weight: bold;
 text-align: center;
 text-transform: uppercase;
 width: 180px;
 height: 30px;
 padding: 14px 40px;
 line-height: 40%;
 border-radius: 5px;
 /*background-color: #F484E9;
 color: #D7F5FF;*/
 background-color: black;
 color: white;
 border: 1px solid white;
}

.top{
  height: 600px;
  width: 100%;
  border: 1px solid white;
  display: flex;
  flex-wrap: wrap;
}

/* LOWER PART */
.bottom {
  height: 400px;
  width: 100%;
  /*border: 1px solid red;*/
  /*background-color: #686868;*/
  background-color: black;
}

.playerOneName {
  /*border: 1px solid white;*/
  width: 100%;
}

.forms {
  color: #D7F5FF;
  font-family: 'Oswald';
}

.forms label {
  text-align: left;
  margin-bottom: 50px;
  font-size: 30px;
  margin-left: 10px;
}

.playerTwoName {
  /*border: 1px solid white;*/
}

.nameAndButton {
  display: flex;
  width: 100%;
}

.instructionsBoard {
  background-color: black;
  color: white;
  text-align: left;
  /*background-color: #686868;
  color: #D7F5FF;*/
  background-color: black;
  color: white;
  width: 80%;
  font-family: 'Oswald';
  font-size: 30px;
  margin-left: 10px;
}

.scoreBoard {
  background-color: black;
  color: white;
  text-align: left;
  /*background-color: #686868;
  color: #D7F5FF;*/
  background-color: black;
  color: white;
  width: 80%;
  font-family: 'Oswald';
  font-size: 30px;
  margin-left: 10px;
}

.selectButton.pulse {
  background-color: white;
  color: black;
  animation-name: pulse_animation;
	animation-duration: 1000ms;
	transform-origin:70% 70%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

#activate {
  display: inline-block;
  background-color: white;
  color: black;
  animation-name: pulse_animation;
	animation-duration: 1000ms;
	transform-origin:70% 70%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

#movesCounterActivated {
  display: inline-block;
}

#time {
  font-size: 40px;
}

#timerActivated {
  display: block;
}

#playerOneNameActivated {
  display: flex;
  flex-direction: column;
  /*display: block;*/
  background color: green;
  width: 100%
}

#GET-name-playerOne {
  text-align: left;
  /*background-color: #686868;
  color: #D7F5FF;*/
  background-color: black;
  color: white;
  border-style: none;
  /*border-bottom: 5px solid #D7F5FF;*/
  border-bottom: 2px solid white;
  width: 250px;
  font-family: 'Oswald';
  outline: none;
  font-size: 30px;
  margin-left: 10px;
  margin-right: 20px;
}

#playerTwoNameActivated {
  display: flex;
  flex-direction: column;
  /*display: block;*/
  background color: green;
  width: 100%
}

#GET-name-playerTwo {
  text-align: left;
  /*background-color: #686868;
  color: #D7F5FF;*/
  background-color: black;
  color: white;
  border-style: none;
  /*border-bottom: 5px solid #D7F5FF;*/
  border-bottom: 2px solid white;
  width: 250px;
  font-family: 'Oswald';
  outline: none;
  font-size: 30px;
  margin-left: 10px;
  margin-right: 20px;
}

#submitButtonActivated {
  display: inline-block;
}

#welcomeScreenHidden {
  display: none;
}

#playerOneSubmit {
  font-size: 16px;
  font-family: 'Martel Sans', sans-serif;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  width: 180px;
  height: 30px;
  padding: 14px 40px;
  line-height: 40%;
  border-radius: 5px;
  background-color: white;
  color: black;
  border: 1px solid white;
  margin-top: 10px;
}

#playerTwoSubmit {
  font-size: 16px;
  font-family: 'Martel Sans', sans-serif;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  width: 180px;
  height: 30px;
  padding: 14px 40px;
  line-height: 40%;
  border-radius: 5px;
  background-color: white;
  color: black;
  border: 1px solid white;
  margin-top: 10px;
}

#moveCount {
  font-size: 40px;
  font-weight: bold;
}

#minutes {
  font-size: 40px;
  font-weight: bold;
}

#seconds {
  font-size: 40px;
  font-weight: bold;
}

@keyframes blackToWhite {
  0% {
    background-color: black;
  }
  49% {
    background-color: black;
  }
  50% {
    background-color: white;
  }
  100% {
    background-color: white;
  }
}

@keyframes whiteToBlack {
  0% {
    background-color: white;
  }
  49% {
    background-color: white;
  }
  50% {
    background-color: black;
  }
  100% {
    background-color: black;
  }
}
/*
@keyframes blackToWhite {
  0% {
    background-color: #D7F5FF;
  }
  49% {
    background-color: #D7F5FF;
  }
  50% {
    background-color: #CCD5FF;
  }
  100% {
    background-color: #CCD5FF;
  }
}

@keyframes whiteToBlack {
  0% {
    background-color: #CCD5FF;
  }
  49% {
    background-color: #CCD5FF;
  }
  50% {
    background-color: #D7F5FF;
  }
  100% {
    background-color: #D7F5FF;
  }
}*/

@keyframes pulse_animation {
	0% { transform: scale(1); }
	30% { transform: scale(1); }
	40% { transform: scale(1.08); }
	50% { transform: scale(1); }
	60% { transform: scale(1); }
	70% { transform: scale(1.05); }
	80% { transform: scale(1); }
	100% { transform: scale(1); }
}

input:focus {
  outline: none;
}

li button:hover {
  background: white;
  color: black;
}

#activate:hover{
  background-color: black;
  color: white;
}
